.helpBox {
	margin: 8px;
  padding: 23px;
	min-width: 140px;
  background-color: #005fe6eb;
  color: #fff;
	z-index: 500;
	border-radius: 3px;
  font-weight: 300;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 59px;
  width: 250px;
}
.helpBoxBody > p {
  font-weight: 300;
  line-height: 20px;
  font-size: 13px;
}
.helpBoxHeader > h3 {
  font-size: 14px;
  text-transform: none;
  color: #fff;
}
.HelpBoxHr {
  height: 0;
  /*margin: 1rem 0;*/
  overflow: hidden;
  border-top: 1px solid #dee2e6;
  width: 40%;
  margin: auto;
}
.helpBoxFooter > button {
  font-size: 13px;
}
.testBox{
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  right: 500px;
  top: 59px;
}
@media(max-width: 991px) {
  .helpBox{
    width: 180px;
    padding: 17px;
  }
  .helpBoxBody > p {
    line-height: 17px;
    font-size: 9px;
    margin-top: 5%;
    margin-bottom: 5%;

  }
  .helpBoxHeader > h3 {
    font-size: 9px;
  }
  .helpBoxFooter > button {
    font-size: 9px;
  }
}
