body { 
  	margin: 0;
  } 

  .box_info {
  	margin: 8px;
  	padding: 1px 5px 5px 5px;
  	min-width: 140px;
  	background: rgba(230, 230, 250, 0.7);
  	z-index: 1000;
  	opacity: 0.6;
  	border-radius: 3px;  	
  }

  .box_search {
    margin: 8px;
    padding: 1px 5px 5px 5px;
    min-width: 140px;
    /*background: rgba(230, 230, 250, 0.7);*/
    z-index: 1000;
    opacity: 0.8;
    border-radius: 3px;   
  }

  .node_info_box {
  	max-width: 400px;
  }
  .node_info_box > p {
  	margin-bottom: 0px; 
  }
  #controls {
  	text-align: left;
  	position: absolute;
  	
  }

  #search {
    text-align: left;
    position: absolute;
    right: 0
    
  }

  #node_info {
  	text-align: left;
  	position: absolute;
  	right: 0;
  	bottom: 0; 
  }
  
  .testnodeinfo{
    text-align: left;
    position: absolute;
    right: 0;
    bottom: 0; 
  }

  .hide_box {
    display: none;
  }
  .show_box {
    display: inline;
  }