body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
     background: #E0C6B5;
     
}
p {
    margin-top: 10%;
    font-size: 15px;
    /*line-height: 1.5;*/
    
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: #395699;
}
h1 {
    font-size: 6em;
}

/*.navbar-light, .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}*/

.lenavbar {
    background-color: rgb(55, 90, 127, 0.3);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}
.content-section{
    padding-top: 40px;
}

a {
    color: #684C24;
}
a:hover{
    color: #B47B27;
    text-decoration: none;
}
.navbar-logo {
    width: 40px;
    margin-right: 50px;
}
.navbar-toggle_button{
    margin-left: 10px;
}

.navbar-links {
    color: #fff;
    padding-left: 10px;
    margin-top: 26px;
}

#LDC-in-navbar {
    /*color: #fff;*/
    color: #395699;
    font-family: Unpack-Fast;
    font-size: 30px;
    padding-right: 30px;
}
.toggleFilterButton{
    text-align: center;
}
.toggleFilterSpan{
    position: relative;
    bottom: 8px;
    padding-left: 20px;
    padding-right: 5px;
}
.DVInfoButton{
    padding-top: 7px;
}
.navbar-switch-button{
    
}
@media(max-width: 414px) {
    h1 {
        font-size: 4em;
    }
    .navbar-logo {
        width: 35px;
    }
    #LDC-in-navbar {;
        font-size: 25px;
        padding-right: 0px;
    }
    .navbar-LDC {
        padding-left: 0px;
    }
}

  @media(max-width: 991px) {
    .toggleFilterSpan {
      padding-left: 0px;
    }
  }

@media(min-width: 945px) {
    .navbar-LDC {
        padding-left: 14%;
    }
}